<!DOCTYPE html>
<html>
  <head>
    <title>On Sale</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola</h1>
    <h2><%= email %></h2>
    <form action="/" method="post">
      <input type="email" name="email">
      <button type="submit">Submit</button>
    </form>
    <!-- <p></p> -->
    <!-- <img src=">" alt="item" height="42" width="42"> -->
  </body>
</html>
